   p {
   
    text-align: center;
    font-size: 22px;
    text-align: justify;
    width: 60%;         
    margin: 0 auto;
    color: #d764d5;
    }
    h1 {
      font-size: 40px;
      line-height: 1;
      color: #00b4d8;
    }
    h2 {
      font-size: 30px;
      line-height: 1;
      color: #00b4d8;
    }
    h4 {
      font-size: 21px;
      line-height: 1;
      color: #00b4d8;
    }
    .titulo {
      color: #00b4d8;
      text-align: center;
      font-size: 2.1em;
      font-weight: bold;
      padding: 15px 0;
      border: 7px solid rgb(49, 4, 212);
      
    }
    body{
      background-color: #0f172a;
    }
